
body{
    font-family: "Comfortaa";
    background-color: black;
    color: white;
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


h1{
    text-align: center;
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: bolder;
    
}


#game-grid-container{
    display: grid;
    width: 500px; 
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
    border-collapse: collapse;
    font-size: 80px;
    text-align: center;
    transition:font-size 1s;

}



#result-modal{
    display: none; 
    margin-top: 50px;
    z-index: 1;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    width: 350px;
    height: fit-content;
    padding: 40px;
    font-family: "Comfortaa";
    font-size: 50px;
    text-align: center;
    font-weight: bolder;

}

button{
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin-top: 20px;
    border: none; 
    background-color: black; 
    color: white;
    font-family: "Comfortaa";
    margin-top: 50px;

}

button:hover{
    background-color: rgb(139, 138, 138);
}