
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


h1{
    text-align: center;
    margin-bottom: 40px;
}


#game-grid-container{
    display: grid;
    width: 500px; 
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    align-self: center;
    border-collapse: collapse;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}


button{
    width: fit-content;
    margin-top: 20px;

}